// === vars ===
:root {
  // color
  --color-1: #c9d9e2;
  --color-2: #8bc4b4;
  --color-3: #efdfc8;
  --color-4: #eedcdc;
  --color-5: #e5ecf0;
  --color-6: #7a9cad;
  --color-8: #DFFF1D;
  --color-9: #8E7654;
  --color-10: #D9C6AC;
  --color-11: #CA4F8E;
  --color-12: #9E4B4B;
  --color-13: #BEA98B;
  --color-14: #C08A8A;
  --color-15: #4CAF50;



  --color-white: #fff;
  --color-black: #000;

  // font-size
  --text-1: 14px;
  --text-2: 12px;
  --text-3: 20px;
}
// === /vars ===

// === class ===

// == text ==

.text-1 {
  font-size: var(--text-1) !important;
}

.text-2 {
  font-size: var(--text-2) !important;
}

.text-3 {
  font-size: var(--text-3) !important;
}
// == / text ==

// == color ==
.color-white {
  color: var(--color-white) !important;
}

.color-black {
  color: var(--color-black) !important;
}

.color-1 {
  color: var(--color-1) !important;
}

.color-2 {
  color: var(--color-2) !important;
}

.color-3 {
  color: var(--color-3) !important;
}

.color-4 {
  color: var(--color-4) !important;
}

.color-5 {
  color: var(--color-5) !important;
}

.color-6 {
  color: var(--color-6) !important;
}

.color-7 {
  color: var(--color-7) !important;
}

.color-8 {
  color: var(--color-8) !important;
}

.color-9 {
  color: var(--color-9) !important;
}

.color-10 {
  color: var(--color-10) !important;
}

.color-11 {
  color: var(--color-11) !important;
}

.color-12 {
  color: var(--color-12) !important;
}

.color-13 {
  color: var(--color-13) !important;
}

.color-14 {
  color: var(--color-14) !important;
}
// == /color ==

// === working-time ===
.working-time {
  // ==charts==
  .apexcharts-svg {
    overflow: visible !important;
  }

  .apexcharts-datalabels-group {
    position: absolute !important;
    top: 50% !important;
    transform: none !important;
  }

  .apexcharts-series {
    path {
      filter: none !important;
    }
  }

  foreignObject {
    overflow: visible !important;
  }

  .chart-donut {
    height: 256px !important;
    max-height: 100% !important;
    min-height: auto !important;
  }

  .apexcharts-legend {
    top: 35px !important;
    right: -30px !important;
    bottom: auto !important;

    &-marker {
      width: 14px !important;
      height: 14px !important;
      margin-right: 10px !important;
    }

    &-series {
      display: flex;
      align-items: center;
      margin-bottom: 5px !important;
    }

    &-text {
      font-size: 14px !important;
    }
  }
  // ==/charts==
}
// === /working-time ===

// === /operator-rating ===
.operator-rating {
  &__title {
    letter-spacing: 0.07rem !important;
  }

  // === list ===
  &-list {
    &__item {
      padding: 9px 0 !important;
    }

    &__avatar {
      border-radius: 15px !important;
    }

    &__number {
      width: 39px;
    }

    &__icon-box {
      width: 22px !important;
      height: 20px !important;
    }
  }
  // === /list ===
}
// === /operator-rating ===